<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/LearnPython/blob/main/colab/final/09 - Lesson - CSV files.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# CSV Files
### Goal
- Learn to read and process CSV files

In [1]:
import csv

In [2]:
with open("files/NameRecords.csv", "r") as f:
    csv_reader = csv.DictReader(f)
    name_records = list(csv_reader)

In [3]:
name_records

[{'First name': 'Connar', 'Last name': 'Ward', 'Age': '15'},
 {'First name': 'Rose', 'Last name': 'Peterson', 'Age': '18'},
 {'First name': 'Paul', 'Last name': 'Cox', 'Age': '12'},
 {'First name': 'Hanna', 'Last name': 'Hicks', 'Age': '10'}]

In [4]:
name_records[0]

{'First name': 'Connar', 'Last name': 'Ward', 'Age': '15'}

In [5]:
name_records[0]['First name']

'Connar'

In [6]:
name_records[3]['First name']

'Hanna'

In [7]:
for record in name_records:
    print(f"{record['First name']} {record['Last name']}: {record['Age']}")

Connar Ward: 15
Rose Peterson: 18
Paul Cox: 12
Hanna Hicks: 10